.actu {
  position: relative;
  
}
.EndPage{
  left: 150px;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
}
.heading {
    width: 100%;
    height: 180px;
    background-color: #0F5F53CC;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
  }
.actu .tetepage h1{
  margin: auto;
  margin-top: 26rem;
  text-align: center;
  text-shadow: 5px 5px #182BB4;
  color: #FFD581;
  font-family: Montserrat;
  font-size: 3rem;
}
  .heading p {
    color: #FFD581;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1rem;
  }
  .heading h3 {
    color: #FFD581;
    text-align: center;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    padding-left: 0.5rem;
    padding-top: 0.5rem;

  }
  .heading h1 {
    color: #FFD581;
    text-align: center;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    padding-left: 0.5rem;
    padding-top: 0.5rem;

  }

  .heading h3 {
    color: #FFD581;
    text-align: center;
    font-size: 1rem;
    margin-bottom : 1em;
  }

  .texte {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
      text-align: left;
      font-size: 1rem;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 700;
      padding-left: 0.5rem;
      padding-top: 0.5rem;
  
    
  }

  .form {
    margin: 0 auto; /* Pour centrer la boîte horizontalement */
    padding: 20px; /* Espace intérieur de la boîte */
    background-color: #0F5F53CC; /* Couleur de fond */
  }

  .container {
    background-color: #0F5F53CC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh; /* Utilisez la hauteur de la vue pour centrer verticalement */
  }
  
  .container p {
    color: #FFD581;
    text-align: center;
  }
  
  .input-text {
    width: 100%;
    padding: 10px;
  }
  
  .radioButtons {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
  }
  
  .radioButtons label {
    display: flex;
    align-items: center;
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
  
  .button {
    background-color: #EC66A1;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 8rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease-in-out;
    padding: 10px 20px;
    border: none;
    margin: 0 10px; /* Ajoutez une marge entre les boutons */
  
    /* Retirez le flex: 1 pour éviter que les boutons prennent toute la largeur */
  }
  
  .button:hover {
    background-color: #EC66A1CC;
  }
  
  .button:active {
    background-color: #004080;
  }

  .container case {
    margin-left: 100px;
  }
  .radioButtons p {
    text-align: left;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    padding-left: 0.5rem;
    padding-top: 0.5rem;

  }
  .button:hover {
    background-color: #EC66A1CC;
  }

  .button:active {
    background-color: #004080;
  }
  
  .tetepage {
    background: url('https://www.baiedemorlaix.bzh/wp-content/uploads/2019/01/ville-morlaix-aerienne.jpg')
      no-repeat center/cover;
    width: 100%;
    height: 550px;
  
    display: flex;
  }

  
  
  .tetepage h1 {
  
    margin: auto;
    margin-top: 20rem;
    text-align: center;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 3rem;
  
  }
  
  @media screen and (max-width: 600px) {
    .tetepage h1 {
      font-size: 1.5rem;
      margin-top: 27rem;
    }
    .heading p {
 
      font-size: 0.5rem;
    }
  }

  @media screen and (max-width: 600px) {
    .actu {
      height: auto;
    }
  }

  @media screen and (max-width: 400px) {
    .actu {
      height: auto;
    }
    .heading h1 {
      font-size: 1.5rem;
    }
    .texte {
      font-size:  0.8rem;
    }
    .button {
      padding: 1.5rem 1rem;
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 600px) {
    .tetepage h1 {
      font-size: 1.5rem;
      margin-top: 27rem;
    }
  }

  @media screen and (max-width: 600px) {
    .actu {
      height: auto;
    }
  }

  @media screen and (max-width: 400px) {
    .actu {
      height: auto;
    }
  
    .heading h1 {
      font-size: 1.5rem;
    }
  
    .button {
      padding: 1.5rem 1rem;
      font-size: 1rem;
    }
  }
  
  
  