.wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-right: 25px;
}

.search-container {
  width: auto;
  position: relative; 
  display: inline-block;
}

.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
  max-height: 200px; 
  position: absolute; 
  top: 100%; 
  left: 0; 
  width: 100%;
  z-index: 100000; 
}

.dropdown::-webkit-scrollbar {
  width: 8px; 
}

.dropdown::-webkit-scrollbar-thumb {
  background: #EC66A1; 
  border-radius: 4px; 
}

.dropdown-row {
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid;
  margin: 2px 0;
  font-size: 1rem;
}
input {
  width: 150px;
  padding: 8px;
  box-sizing: border-box;
}


.navbar {
  position: sticky; 
  top: 0;
  z-index: 50000;
  width: 100%;
  height: 7.6875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #0F5F53CC;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.20625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; 
  letter-spacing: -0.00938rem;

}

.navbar-logo {
  color: #fff;
  padding-right: 30px;
  border-right:4px  solid;
  border-color: #EC66A1CC;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;

  
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {

  display: grid;
  grid-template-columns: repeat(7, auto);

  list-style: none;
  text-align: center;
  width: 100%;
  justify-content: end;
  
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
  position: relative;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  cursor: pointer; 
}

.nav-links:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-left: 2rem; 
  }
  
  .search-container {
    width: 100%; 
    position: relative;
    display: inline-block;
  }
  .dropdown-row {
    cursor: pointer;
    text-align: left;
    border-bottom: 1px solid;
    margin: 2px 5px;
    font-size: 1rem;
  }
  input {
    display: inline-block; 
    width: 100%; 
  }

  .dropdown {
    display: inline-block; 
    width: 100%; 
    max-height: 100px;
  }
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    right: -100%; 
    top: 0;
    bottom: 0;
    height: 100%;
    opacity: 1;
    width: 100%;
    background-color: #0F5F53CC;
    z-index: 1;
    transition: right 1s; 
  }
  .nav-item {
    display: flex;
    align-items: center;
    height: 80px;
    position: relative;
  }
  .search-container {
  width: auto;
  position: left; 
  display: inline-block;
 
}
  
  .nav-menu.active{
    right: 0; 
    opacity: 1;
    
  }

  .nav-links {
    text-align: left;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #1888ff;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    left:10px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 2rem;
    cursor: pointer;
    z-index: 10;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }


}

@media screen and (max-width: 800px) { 
  .nav-links {
    font-size: 0.8rem;
    padding: 1rem;
    width: 100%;

  }
  input{
    width: 50%;
   
  }
  .dropdown {
    width: 50%;
    
  }
  .dropdown-row {
    cursor: pointer;
    text-align: left;
    border-bottom: 1px solid;
    margin: 2px 5px;
    font-size: 0.6rem;
  }
  .wrapper {
    padding-left: 1rem; 
  }
  
}