
.root {
    position: relative;
    /*width: 100%;
    height: 5016px;*/
    width: 100%; /* Use a percentage to make it fluid */
    height: 5000px; /* Minimum height to cover the viewport */
    align-items: flex-start;
    background-color: #fff;
    overflow: hidden;
    ;
}


.image {
    position: relative;
    background: url('../../../public/image_processing20221115238301.jpg')  no-repeat center/cover;
    width: 100%;
    height: 550px;
    display: flex;
    margin-bottom: 100px;
}
.image :hover{
    transform: scale(1.05);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

.presentation {
    margin: 350px auto auto;
    text-align: center;
    color: #FFD581;
    font-family: Montserrat, serif;
    font-size: 80px;
}


.Title {
    color: #0f5f53;
    font-size: 50px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
    margin-left: 200px;
}

.Text{
    margin: 0 300px 100px;
    color: #000;
    font-size: 30px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
    align-items: center;
    text-indent: 1em;
}

.rectangle{
    left: 150px;
    width: 938px;
    height: 21px;
    border-radius: 14px;
    background-color: #ec66a1;
    margin-left: 170px;
    margin-bottom: 100px;
}

/*.EndPage{
    left: 150px;
    width: 100%;
    height: 200px;
    background-color: #000;
}*/

@media screen and (max-width: 700px) {
    .root {
        height: auto; /* Adjust the height as needed for smaller screens */
    }
    .container {
        flex-direction: column; /* Adjust flex direction for smaller screens */
    }

    .image {
        height: 300px; /* Adjust the image height for smaller screens */
        margin-bottom: 50px; /* Adjust the margin for smaller screens */
    }

    .presentation {
        margin: 100px auto auto;
        font-size: 50px; /* Adjust font size for smaller screens */
    }

    .Title {
        margin-left: 100px; /* Reset margin for smaller screens */
    }

    .Text {
        margin: 50px 50px; /* Adjust margins for smaller screens */
        font-size: 24px; /* Adjust font size for smaller screens */
    }


}

