
.root {
    position: relative;
    /*width: 100%;
    height: 5016px;*/
    width: 100%; /* Use a percentage to make it fluid */
    height: 5000px; /* Minimum height to cover the viewport */
    align-items: flex-start;
    background-color: #fff;
    overflow: hidden;
    ;
}

.heading {
    text-align: left;


}
.textBlock {
    text-align: left;
    font-size: 5rem;
    color: red;

}
.quiSommeNous {
   

}
.actu {
    max-width: 100%;
    margin: auto;
    height:54.375rem ;
    background-color: #0F5F53CC;
   
  }
  .heading h1 {
    font-size: 3rem;
    text-align: center;
   
    padding-top: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
  
    color:#FFD581 ;
  }
