
.root {
    position: relative;
    /*width: 100%;
    height: 5016px;*/
    width: 100%; /* Use a percentage to make it fluid */
    height: 5000px; /* Minimum height to cover the viewport */
    align-items: flex-start;
    background-color: #fff;
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    /* Adjust the properties for smaller screens (you can customize these values) */
    height: 3000px;
    /* Additional adjustments if needed */
}

@media screen and (max-width: 480px) {
    /* Adjust the properties for even smaller screens */
    height: 1500px;
    /* Additional adjustments if needed */
}
.image_processing20221115238301 {
    /*position: absolute;
    !*left: 0;*!
    top: 0;
    width: 60%;
    height:  550px;
    background-image:  url('../../../public/image_processing20221115238301.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;*/
    position: absolute;
    background: url('../../../public/image_processing20221115238301.jpg')  no-repeat center/cover;
    width: 60%;
    height: 550px;

    display: flex;
}
/*.rectangle14 {
    position: absolute;
    left: 870px;
    top: 200px;
    width: 600px;
    height: 169px;
    background-color: #fff;
}*/
.presentation {
  /*  color: #3a3a3a;
    font-size: 80px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
    position: absolute;
    left: 900px;
    top: 5.5%;
    width: 1607px;
    height: 163px;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-50%);
    text-align: left;*/
    margin: 15rem auto auto;
    text-align: center;

    color: #FFD581;
    font-family: Montserrat, serif;
    font-size: 80px;
}
@media screen and (max-width: 600px) {
    .presentation, .quiSommeNous, .leConseilDeCommunaute, .lesCommissions, .depuisLe12Avril2021LeBureauCom, .leBureauCommunautaire, .morlaixCommunauteEtablissement, .morlaixCommunauteComposeeDe26C, .lesCommissionsDeMorlaixCommuna {
        font-size: 1.5rem;
        margin-top: 27rem;
    }
}
.quiSommeNous {
    color: #0f5f53;
    font-size: 50px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
    position: absolute;
    left: -100px;
    top: 707px;
    width: 1011px;
    height: 107px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.leConseilDeCommunaute {
    position: absolute;
    left: 35px;
    top: 1390px;
    width: 1012px;
    height: 107px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.textBlock {
    color: #0f5f53;
    font-size: 50px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.textBlock2 {
    margin-top: 0;
    color: #0f5f53;
    font-size: 50px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.lesCommissions {
    /*position: absolute;
    left: -52px;
    top: 3541px;
    width: 1011px;
    height: 107px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;*/
    color: #0f5f53;
    font-size: 50px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
    position: absolute;
    left: -104px;
    top: 3541px;
    width: 1011px;
    height: 107px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.textBlock3 {
    color: #0f5f53;
    font-size: 50px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.textBlock4 {
    margin-top: 0;
    color: #0f5f53;
    font-size: 30px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.depuisLe12Avril2021LeBureauCom {
    position: absolute;
    left: 211px;
    top: 2501px;
    width: 1676px;
    height: 967px;
    justify-content: center;
    flex-direction: column;
}
.textBlock5 {
    color: #000;
    font-size: 31px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.textBlock6 {
    margin-top: 0;
    color: #000;
    font-size: 31px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.textBlock7 {
    margin-top: 0;
    color: #000;
    font-size: 31px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.textBlock8 {
    margin-top: 0;
    color: #000;
    font-size: 31px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.textBlock9 {
    margin-top: 0;
    color: #000;
    font-size: 31px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.textBlock10 {
    margin-top: 0;
    color: #000;
    font-size: 31px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.leBureauCommunautaire {
    /*color: #0f5f53;
    font-size: 50px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
    position: absolute;
    left: 121px;
    top: 2430px;
    width: 1011px;
    height: 107px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;*/
    color: #0f5f53;
    font-size: 50px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
    position: absolute;
    left: 10px;
    top: 2430px;
    width: 1011px;
    height: 107px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.morlaixCommunauteEtablissement {
    position: absolute;
    left: 224px;
    top: 814px;
    width: 1650px;
    height: 506px;
    justify-content: center;
    flex-direction: column;
}
.textBlock11 {
    color: #000;
    font-size: 31px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.textBlock12 {
    margin-top: 0;
    color: #000;
    font-size: 31px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.textBlock13 {
    margin-top: 0;
    color: #000;
    font-size: 31px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.morlaixCommunauteComposeeDe26C {
    position: absolute;
    left: 219px;
    top: 1444px;
    width: 1655px;
    height: 911px;
    justify-content: center;
    flex-direction: column;
}
.textBlock14 {
    color: #000;
    font-size: 31px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.textBlock15 {
    margin-top: 0;
    color: #000;
    font-size: 31px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.textBlock16 {
    margin-top: 0;
    color: #000;
    font-size: 31px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.textBlock17 {
    margin-top: 0;
    color: #000;
    font-size: 31px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.textBlock18 {
    margin-top: 0;
    color: #000;
    font-size: 31px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.textBlock19 {
    margin-top: 0;
    color: #000;
    font-size: 31px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.lesCommissionsDeMorlaixCommuna {
    position: absolute;
    left: 211px;
    top: 3584px;
    width: 1671px;
    height: 582px;
    justify-content: center;
    flex-direction: column;
}
.textBlock20 {
    color: #000;
    font-size: 31px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.textBlock21 {
    margin-top: 0;
    color: #000;
    font-size: 31px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.textBlock22 {
    margin-top: 0;
    color: #000;
    font-size: 31px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.textBlock23 {
    margin-top: 0;
    color: #000;
    font-size: 31px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
.rectangle20 {
    position: absolute;
    left: 199px;
    top: 792px;
    width: 976px;
    height: 22px;
    border-radius: 14px;
    background-color: #ec66a1;
}
.rectangle24 {
    position: absolute;
    left: 199px;
    top: 1444px;
    width: 1184px;
    height: 27px;
    border-radius: 14px;
    background-color: #ec66a1;
}
.rectangle22 {
    position: absolute;
    left: 211px;
    top: 2515px;
    width: 1139px;
    height: 22px;
    border-radius: 14px;
    background-color: #ec66a1;
}
.rectangle23 {
    position: absolute;
    left: 219px;
    top: 3600px;
    width: 938px;
    height: 21px;
    border-radius: 14px;
    background-color: #ec66a1;
}

.test{
    margin-top: 0;
    color: #000;
    font-size: 25px;
    line-height: 58px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.15px;
}
@media (max-width: 768px) {
    .test {
        font-size: 20px;
    }
}